@font-face {
    font-family: 'carter-one-regular';
    src: url('webfont.eot'); /* IE9 Compat Modes */
    src: url('webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('webfont.woff') format('woff'), /* Modern Browsers */
         url('CarterOne.ttf')  format('truetype'), /* Safari, Android, iOS */
         url('webfont.svg#svgFontName') format('svg'); /* Legacy iOS */
}

body, html {
    width: 100%;
    height: 100%;
    overflow: hidden;
    margin: 0;
  padding: 0;
  /*background: #eee;*/
  font-family: "carter-one-regular",sans-serif;
  color: white;
  }


#layer{
  width: 100%;
  height: 100%;
  position: relative;
  margin: 0;
  padding: 0;
}

#topleft{
  position: absolute;
  top: 0;
  left: 0;
  background-image: url("images/TwitchScreen_Stats.png");
  background-size: contain;background-repeat: no-repeat;
  width: 300px;
  height: 300px;
}

#currentHit {
 
 width: 100%;
 margin-top: 37%;
 margin-left: 15%;
 transform: rotate(-5deg);
}

#currentHit div{
  float: left;
  margin-right: 10px;
}

#currentHitValue{
  font-size: 3em;
  line-height: 0.5;
}

#totalHit {
  position: absolute;
  margin-top: 19%;
  margin-left: 14.5%;
  width: 20%;
  color: #b9edfe;
}


#totalHitValue {
  font-size: 1.5em;
  transform: rotate(-2deg);
  text-align: center;
}

#totalHitLabel {
  font-size: 0.65em;
  transform: rotate(1deg);
  text-align: center;

  margin-top: 10%;
}

#totalMiss {
  position: absolute;
  margin-top: 22%;
  margin-left: 34.5%;
  width: 20%;
  color: #ce243d;
}


#totalMissValue {
  font-size: 1.5em;
  transform: rotate(-2deg);
  text-align: center;
}

#totalMissLabel {
  font-size: 0.65em;
  transform: rotate(1deg);
  text-align: center;

  margin-top: 0%;
}

.cont{
  width: 100%;
  height: 100%;
  position: relative;
}

#topright{
  position: absolute;
  top: 0;
  right: 0;
  background-image: url("images/TwitchScreen_Perfect.png");
  background-size: contain;background-repeat: no-repeat;
  width: 300px;
  height: 300px;
}

#currentPerfect{
  display: block;
  top: 40%;
  text-align: center;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30%;
  color: #fecb17;
}

#currentPerfectValue{
  font-size: 3em;
  height: 30%;
  width: 40%;
  transform: rotate(5deg);
  margin-left: auto;
  margin-right: auto;
}

#currentPerfectLabel{
  font-size: 0.8em;
  margin-top: 26%;
  height: 30%;
  width: 100%;
  transform: rotate(10deg);
  margin-left: 5px;
  text-align: left;
}


#bottomleft{
  position: absolute;
  bottom: 0;
  left: 0;
  background-image: url("images/TwitchScreen_Speed_Gauge.png");
  background-size: contain;background-repeat: no-repeat;
  width: 300px;
  height: 300px;
}

.container {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  width: 300px;
  height: 300px;
}

#perfectGauge{
  width: 200px;
  height: 200px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  transform: rotate(0deg);
}

#perfectPercent {
  left: 0;
  right: 0;
  top: 60%;
  position: absolute;
  color: #fecb17;
}

#bottomright{
  position: absolute;
  bottom: 0;
  right: 0;
  background-image: url("images/TwitchScreen_Combo_BG.png");
  background-size: contain;background-repeat: no-repeat;
  width: 300px;
  height: 300px;
}

#bottomright img {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 10;
}

#perfectGaugeValue{
  position: absolute;
  background: linear-gradient(-10deg, #fecb17FF 60%, #FFFFFF00 60%, #FFFFFF00 100%) left repeat; 
  width: 300px;
  height: 300px;
  z-index: 9;
  -webkit-mask-box-image: url("images/TwitchScreen_Combo_BG.png");
}

#nbCombos{
  position: absolute;
  top: 4%;
  right: 0%;
  z-index: 19;
  width : 100px;
  height: 100Px;
  background-image: url("images/TwitchScreen_Combo_Counter.png");
  background-size: contain;background-repeat: no-repeat;
}

#nbCombosValue {
  color: white;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
   z-index: 20;
   font-size: 2em;
   padding-top: 33px;
   margin-left: 25px;
   transform: rotate(19deg);
}

#perfectGaugeLabel{
  position: absolute;
  bottom: 16%;
  right: 25%;
  z-index: 19;
}




  #main {
    position: absolute;
    visibility: hidden;
    width: 100%;
    height: 100%;
    background-image: url("images/Manette.png");
    background-size: contain;background-repeat: no-repeat;
  }


  .hammer {
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: contain;background-repeat: no-repeat;
  }

  .hammer.r1 {background-image: url("images/R2.png");}
  .hammer.r2 {background-image: url("images/R3.png");}
  .hammer.r3 {background-image: url("images/R4.png");}
  .hammer.l0 {background-image: url("images/L1.png");}
  .hammer.l1 {background-image: url("images/L2.png");}
  .hammer.l2 {background-image: url("images/L3.png");}